name: Publish Release

on:
  workflow_dispatch:

jobs:
  publish:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v2
      - name: Setup .NET
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 5.0.x
      - name: get version
        id: version
        uses: notiz-dev/github-action-json-property@release
        with: 
          path: 'plugin.json'
          prop_path: 'Version'
      - run: echo ${{steps.version.outputs.prop}} 
      - name: Build
        run: |
          dotnet publish 'Flow.Launcher.Plugin.SpotifyPremium.csproj' -r win-x64 -c Release -o "SpotifyPremium-${{steps.version.outputs.prop}}"
          7z a -tzip "SpotifyPremium-${{steps.version.outputs.prop}}.zip" "./SpotifyPremium-${{steps.version.outputs.prop}}/*"
          rm -r "SpotifyPremium-${{steps.version.outputs.prop}}"
      - name: Publish
        uses: softprops/action-gh-release@v1
        with:
          files: "SpotifyPremium-${{steps.version.outputs.prop}}"
          tag_name: "v${{steps.version.outputs.prop}}"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
